body {
    margin: 0;
    padding: 0;
    background-color: red;
}

.grad-bg1 {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-40deg, #F0131E 50%, rgb(238, 95, 51) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.grad-bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.grad-bg3 {
    animation-duration:5s;
}

.all-comics {
    position: fixed;
    cursor: pointer;
    top: 20px;
    left: 1%;
}

.cont-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
}

.page {
    width: fit-content;
    margin: auto;
}

.content {
    width: 500px;
    background-color: #C0C0C0;
    border-radius: 10px;
}

.marvel {
    width: 120px;
    margin: auto;
    margin-bottom: 24px;
}

.marvel-name {
    width: 100%;
    margin: auto;
    padding: 5px;
    border: 2px solid #C0C0C0;
}

#close {
    display: none;
    cursor: pointer;
    padding-right: 10px;
    border-right: 2px solid #F0131E;
}

#search-icon {
    padding-left: 10px;
}

.input-div {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
}

.search {
    height: 24px;
    border: none;
    background-color: transparent;
    flex-grow: 1;
    color: rgb(46, 45, 45);
}

input[type="text"]{
    font-weight: 500 !important;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.search::placeholder {
    color: rgb(46, 45, 45); 
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.search:focus {
    outline: none;
}

.char-div {
    max-height: 320px;
    overflow-y: scroll;
    border: none;
}

.char-div > p {
    width: 90%;
    margin: auto;
    padding-top: 10px;
    cursor: pointer;
    color: rgb(46, 45, 45); 
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.char-div > p:hover {
    color: #F0131E;
}

.char-div::-webkit-scrollbar {
    width: 8px;
}

.char-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  .pad-dummy {
      height: 10px;
      width: 90%;
      margin: auto;
      display: none;
  }

  .border-dummy {
      border-top: 1px solid rgb(46, 45, 45); 
      height: 10px;
      width: 90%;
      margin: auto;
      display: none;
  }

.char-div::-webkit-scrollbar-thumb {
    background: rgb(46, 45, 45); 
    border-radius: 10px;
}

.noReults {
    text-align: center;
    display: none;
    padding-top: 10px;
}

.theme {
    position: fixed;
    cursor: pointer;
    top: 20px;
    left: 95%;
}

#pause {
    display: none;
}


@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

